<div class="col-sm-3">
  <div class="card" style="background-image: url(<%= asset_path 'blogging.jpg' %>)">
    <div class="card-body">
      <h5 class="card-title"><span class="card-category"><%= obj.name %></span></h5>

      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div>