<div class="col-sm-3 pl-1">
  <div class="card" style="background-image: url(<%= asset_path 'blogging.jpg' %>)">
    <div class="card-body">
      <h5 class="card-title"><%= link_to obj.name, category_path(obj), class: "card-category" %></h5>

      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div>