.cat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cat-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cate-article-title {
  font-weight: bold;
}

.article-side {
  position: relative;
}

.del-btn {
  position: absolute;
  bottom: 0;
}

.cat-container-color {
  background-color: white;
}
