@import 'bootstrap/dist/css/bootstrap';

.nav-bar {
  background-color: #FFFFFF;
  height: 50px;
  text-align: center;
  padding-bottom: 47px;
  border-bottom: 3px solid #847F7B;
}

.nav-bar a {
  color: #847F7B;
}

.nav-bar span {
  position: relative;
  bottom: 10px;
}

#orange-color {
  color: #FB894D;
}

.logo {
  float: left;
  font-size: 40px;
  position: relative;
  bottom: 5px;
  font-weight: bold;
}

.right-nav {
  float: right;
}

.container-box {
  display: flex;
}

.container-box > a {
  height: 14rem;
  color: white;
  flex-basis: 50%;
}

.category-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-bottom: 0;
}

// .top-image-container {
//   width: 100%;
//   background-color: yellow;
//   height: 80vh;
// }

// .top-image {
//   color: red;
//   height: 100%;
//   background-repeat: no-repeat;
//   width: 100%;
//   background-position: center;
//   background-size: cover;
// }

.top-image-container {
  text-decoration: none;
  position: relative;
  width: 100%;
  .top-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}

.top-image > h2 {
  position: relative;
  top: 400px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.category-article-link {
  text-decoration: none;
  position: relative;
  top: 500px;
  .category-article-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}

.cat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cat-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}