@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.nav-bar {
  background-color: #fff;
  height: 50px;
  text-align: center;
  padding-bottom: 47px;
  border-bottom: 3px solid #847f7b;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar a {
  color: #847f7b;
}

.container-box > a {
  height: 14rem;
  color: white;
  flex-basis: 50%;
}

.nav-bar a:hover {
  text-decoration: none;
}

.nav-bar > span {
  position: relative;
  bottom: 10px;
}

#orange-color {
  color: #fb894d;
}

#black-color {
  color: black;
  position: relative;
  bottom: 8px;
}

.footer-logo {
  position: relative;
  bottom: 8px;
}

.logo {
  float: left;
  font-size: 40px;
  position: relative;
  bottom: 10px;
  font-weight: bold;
}

.right-nav {
  float: right;
}

.new-btn {
  background-color: orange;
}

#footer-section {
  background-color: #4e443f;
  color: white;
}

#footer-section .logo {
  color: white;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
  margin-right: 0;
  background-color: #e4e3e2;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}
