.jumbotron {
  // background-image: asset-url('blogging.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
  position: relative;
}

.jumbo-title {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
}

.col-sm-3 {
  padding-right: 0;
  height: 260px;
}

.card {
  // background-image: asset-url('blogging.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}

.card-link {
  font-weight: bold;
  position: relative;
  top: 140px;
  font-size: 1.3rem;
}

.card-category {
  border-bottom: 3px solid orange;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

.card-category:hover {
  text-decoration: none;
  color: inherit;
}
