<footer class="nav-bar navbar" id="footer-section" id="sticky-footer">
  <span class="logo">
    <%= link_to 'MAC FORUM', root_path, class: "navbar-brand footer-logo", id: "orange-color" %>
  </span>

  <span class="mid-nav">
    <span id="orange-color">Privacy Policy &middot; Terms &amp; Conditions</span> Copyright 2014. All rights reserved.
  </span>

  <span class="right-nav">
    Connect with us:
    <i class="fab fa-twitter fa-sm mr-2" id="orange-color"></i>
    <i class="fab fa-instagram mr-2" id="orange-color"></i>
    <i class="fab fa-facebook" id="orange-color"></i>
  </span>
</footer>