<footer class="nav-bar fixed-bottom navbar" id="footer-section" id="sticky-footer">
  <span class="logo">
    <%= link_to 'MAC FORUM', root_path, class: "navbar-brand footer-logo", id: "orange-color" %>
  </span>

  <span class="mid-nav">
    <span id="orange-color">Privacy Policy &middot; Terms &amp; Conditions</span> Copyright 2021. All rights reserved.
  </span>

  <span class="right-nav">
    Connect with us:
    <a href="https://twitter.com/iamxted"><i class="fab fa-twitter mr-2" id="orange-color"></i></a>
    <a href="https://linkedin.com/in/tememandu"><i class="fab fa-linkedin mr-2" id="orange-color"></i></a>
    <a href="https://github.com/TedLivist"><i class="fab fa-github" id="orange-color"></i></a>
  </span>
</footer>